.advantages {
  @media (min-width: 960px) {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 959px) {
  .advantages__entry:last-child {
    margin-top: 32px;
  }
}

.advantages__title {
  margin-top: 0;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages__list li {
  display: flex;
  align-items: center;
}

.advantages__list li::before {
  flex-shrink: 0;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url('../images/arrow-right.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.advantages__list li + li {
  margin-top: 8px;
}
