.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  min-height: 64px;
}

.copyright {
  text-align: center;
  color: $primary-white-color;
}

.copyright__link {
  color: inherit;
}
